In [285]:
import pandas as pd, numpy as np, math, time

candidates = pd.read_csv("./candidates.csv", index_col="code") 
candidates["party"] = candidates["party"].apply(lambda x: x.replace("Pesec", "Anthony Pesec").replace("UAP", "United Australia").replace("Anning", "Fraser Anning").replace("Sustainable", "Sustainable Australia"))
voters = pd.read_csv("./voters.csv", index_col="voter_id")
results = candidates.loc["H":, :"candidate"]
results["first"] = 0
results["Katy Gallagher"] = 0
results["Zed Seselja"] = 0
results["Penny Kyburz"] = 0
results["exhausted votes"] = 0
sample = voters.sample(frac=1)
quota = math.ceil(len(sample) / 3) + 1

# first preference votes
start = time.time()
interval = 1
print("sorting first preference votes ...", end="\r")
for i, vote in enumerate(sample.index):
    pref = sample.at[vote, "prefs"][0]
    # below the line votes
    if candidates.at[pref, "type"] == "below":
        results.at[pref, "first"] = results.at[pref, "first"] + 1
    # above the line votes
    else:
        code = results[results["party"] == candidates.at[pref, "party"]].reset_index().iat[0, 0]
        results.at[code, "first"] = results.at[code, "first"] + 1
    if time.time() - interval > start:
        interval = interval + 1
        print(f"sorting first preference votes ... {(i + 1) / len(sample):.1%}", end="\r")
print("sorting first preference votes ... complete")

# surplus weight
weight = (results.at["T", "first"] - quota) / results.at["T", "first"]
results.at["T", "Katy Gallagher"] = quota
results.at["H", "Zed Seselja"] = results.at["H", "first"]
results.at["J", "Penny Kyburz"] = results.at["J", "first"]

def distribute(first, prefs):
    # exports a list of votes [seselja, kyburz, exhausted]
    if first in "ABHJ":
        return [0, 0, 0]
    if len(prefs) == 1:
        return [0, 0, 1]
    prefs = prefs[0] + prefs[1:].replace("A", "H").replace("B", "J")
    if ("H" not in prefs) & ("J" not in prefs):
        return [0, 0, 1]
    if "H" not in prefs:
        return [0, 1, 0]
    if "J" not in prefs:
        return [1, 0, 0]
    if prefs.index("H") < prefs.index("J"):
        return [1, 0, 0]
    else:
        return [0, 1, 0]    

# vote distribution
start = time.time()
interval = 1
print("distributing votes ...", end="\r")
for i, vote in enumerate(sample.index):
    prefs = sample.at[vote, "prefs"]
    first = prefs[0]    
    dist = distribute(first, prefs)
    if candidates.at[first, "type"] == "above":
        first = results[results["party"] == candidates.at[first, "party"]].reset_index().iat[0, 0]
    results.at[first, "Zed Seselja"] = results.at[first, "Zed Seselja"] + dist[0] if first != "T" else results.at[first, "Zed Seselja"] + dist[0] * weight
    results.at[first, "Penny Kyburz"] = results.at[first, "Penny Kyburz"] + dist[1] if first != "T" else results.at[first, "Penny Kyburz"] + dist[1] * weight
    results.at[first, "exhausted votes"] = results.at[first, "exhausted votes"] + dist[2] if first != "T" else results.at[first, "exhausted votes"] + dist[2] * weight
    
    if time.time() - interval > start:
        interval = interval + 1
        print(f"distributing votes ... {(i + 1) / len(sample):.1%}", end="\r")
print("distributing votes ... complete")

results

sorting first preference votes ... complete
distributing votes ... complete

,party,candidate,first,Katy Gallagher,Zed Seselja,Penny Kyburz,exhausted votes
code,,,,,,,
H,Liberals,SESELJA Zed,84846,0,84846.000000,0.000000,0.000000
I,Liberals,GUNNING Robert,2650,0,1812.000000,700.000000,138.000000
J,Greens,KYBURZ Penny,45916,0,0.000000,45916.000000,0.000000
K,Greens,DAVIDSON Emma,1978,0,23.000000,1953.000000,2.000000
L,Anthony Pesec,PESEC Anthony,12359,0,4000.000000,7959.000000,400.000000
M,Anthony Pesec,KENT Gary,212,0,71.000000,133.000000,8.000000
N,Fraser Anning,VAN DUREN Shane,2392,0,1843.000000,474.000000,75.000000
O,Fraser Anning,BIRKETT Scott,72,0,51.000000,16.000000,5.000000
P,United Australia,WALTER Peter,5985,0,3948.000000,1860.000000,177.000000
Q,United Australia,HODGSON Rebecah Elen,160,0,105.000000,45.000000,10.000000
R,Sustainable Australia,HAYDON John,4169,0,1353.000000,2742.000000,74.000000
S,Sustainable Australia,ANGEL Joy,288,0,58.000000,223.000000,7.000000
T,Labor,GALLAGHER Katy,105019,90078,2623.022663,12051.648844,266.328493
U,Labor,WAITES Nancy,1332,0,191.000000,1120.000000,21.000000
V,ungrouped,HOUSTON Nick,1322,0,408.000000,856.000000,58.000000
W,ungrouped,COWTON Gary,301,0,84.000000,202.000000,15.000000
X,ungrouped,KIM David,1230,0,989.000000,198.000000,43.000000

In [286]:
party_results = results.groupby("party").sum()
party_results = pd.concat([
    party_results.iloc[:-1, :].sort_values("first", ascending=False),
    party_results.iloc[-1:, :]
])
results.to_csv("./candidate_results.csv")
party_results.to_csv("./party_results.csv")
party_results

,first,Katy Gallagher,Zed Seselja,Penny Kyburz,exhausted votes
party,,,,,
Labor,106351,90078,2814.022663,13171.648844,287.328493
Liberals,87496,0,86658.000000,700.000000,138.000000
Greens,47894,0,23.000000,47869.000000,2.000000
Anthony Pesec,12571,0,4071.000000,8092.000000,408.000000
United Australia,6145,0,4053.000000,1905.000000,187.000000
Sustainable Australia,4457,0,1411.000000,2965.000000,81.000000
Fraser Anning,2464,0,1894.000000,490.000000,80.000000
ungrouped,2853,0,1481.000000,1256.000000,116.000000

In [287]:
import json

sankey_data = {
    "nodes": [],
    "links": []
}

for i, party in enumerate(party_results.index):
    sankey_data["nodes"].append({
        "node": int(i),
        "name": party,
        "party": party
    })
for i, preference in enumerate(party_results.columns[1:]):
    sankey_data["nodes"].append({
        "node": int(i + len(party_results)),
        "name": preference,
        "party": (
            "Labor" if i == 0 else
            "Liberals" if i == 1 else
            "Greens" if i == 2 else "exhausted"
        )
    })
for i, party in enumerate(party_results.index):
    for j in range(4):
        if party_results.iat[i, j + 1] > 0:
            sankey_data["links"].append({
                "source": int(i),
                "target": int(j + len(party_results)),
                "value": party_results.iat[i, j + 1]
            })

class NpEncoder(json.JSONEncoder):
    def default(self, obj):
        if isinstance(obj, np.integer):
            return int(obj)
        if isinstance(obj, np.floating):
            return float(obj)
        if isinstance(obj, np.ndarray):
            return obj.tolist()
        return super(NpEncoder, self).default(obj)

with open("./sankey_data.json", "w") as file:
    file.write(json.dumps(sankey_data, cls=NpEncoder))

In [288]:
party_results

,first,Katy Gallagher,Zed Seselja,Penny Kyburz,exhausted votes
party,,,,,
Labor,106351,90078,2814.022663,13171.648844,287.328493
Liberals,87496,0,86658.000000,700.000000,138.000000
Greens,47894,0,23.000000,47869.000000,2.000000
Anthony Pesec,12571,0,4071.000000,8092.000000,408.000000
United Australia,6145,0,4053.000000,1905.000000,187.000000
Sustainable Australia,4457,0,1411.000000,2965.000000,81.000000
Fraser Anning,2464,0,1894.000000,490.000000,80.000000
ungrouped,2853,0,1481.000000,1256.000000,116.000000

In [302]:
party_results.iloc[:, 1].sum() / party_results.iloc[:, 1:].sum().sum()
party_results.iloc[:, 2].sum() / party_results.iloc[:, 1:].sum().sum()
party_results.iloc[:, 3].sum() / party_results.iloc[:, 1:].sum().sum()
# party_results.iloc[:, 4].sum() / party_results.iloc[:, 1:].sum().sum()

0.28290110625537435