In [16]:
import pandas as pd

results = pd.read_csv("party_results.csv", index_col="party")
votes = round(results.iloc[:, 1:].sum().sum())
quota = votes / 3 + 1
results

,first,Katy Gallagher,Zed Seselja,Penny Kyburz,exhausted votes
party,,,,,
Labor,106351,90078,2814.022663,13171.648844,287.328493
Liberals,87496,0,86658.000000,700.000000,138.000000
Greens,47894,0,23.000000,47869.000000,2.000000
Anthony Pesec,12571,0,4071.000000,8092.000000,408.000000
United Australia,6145,0,4053.000000,1905.000000,187.000000
Sustainable Australia,4457,0,1411.000000,2965.000000,81.000000
Fraser Anning,2464,0,1894.000000,490.000000,80.000000
ungrouped,2853,0,1481.000000,1256.000000,116.000000

In [17]:
(results["Zed Seselja"] / results["first"]).sort_values(ascending=False)

party
Liberals                 0.990422
Fraser Anning            0.768669
United Australia         0.659561
ungrouped                0.519103
Anthony Pesec            0.323841
Sustainable Australia    0.316581
Labor                    0.026460
Greens                   0.000480
dtype: float64

In [34]:
results["Zed Seselja"].sum() / votes
results["Penny Kyburz"].sum() / votes

0.28290110625537684

In [33]:
(quota - results.loc["Greens", "first"]) / votes

0.15610348183591075